<div class="row">
  <div class="col-md-3">
    <%= render 'user', book: @book_new, user: @user %>
  </div>

  <div class="col-md-8 offset-md-1">
    <h1>Book detail</h1>
    <table class = "table">
      <tr>
        <td>
          <%= link_to user_path(@book.user.id) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <%= link_to @book.user.name, user_path(@book.user.id) %>
          <% end %>
        </td>
        <td><%= link_to @book.title, book_path(@book) %></td>
        <td><span><%= @book.body %></span></td>
        <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %></td>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class: 'btn btn-sm btn-danger' %></td>
        <% end %>
      </tr>  
    </table>
  </div>
</div>